<style>
p.gnbcheck{text-align: center; margin-top: 30px;}
.publishlist{padding:50px;}
a.pub_link{display: inline-block; min-width: 500px;}
@media screen and (max-width: 1000px){
    a.pub_link{display: inline; min-width: unset;}
    .publishlist{padding-left: 15px; padding-right: 15px;}
}
.publishlist ul{margin-bottom: 40px;}
.publishlist ul>li{list-style-type: circle;}
</style>
    <!-- <p class='gnbcheck'>*You can check GNB Above*</p> -->
    <div class='publishlist'>   
       <h2>Main</h2>
        <ul id='main'>
            <% pageList.forEach(function(data){ 
                if(data.type == "main"){ %>
                    
                <% if(data.isSearchPage){ %>
                    <li>
                        <a class="pub_link" href='<%= data.url %>'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
                    </li>                        

                    <%}else{%>
                    <li>
                        <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
                    </li>                        
                <%} %> 

            <%}}) %> 
        </ul>

        <h2>My Page</h2>
        <ul id='mypage'>
            <% pageList.forEach(function(data){ 
                if(data.type == "mypage"){ %>
            <li>
                <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
            </li>
            <%}}) %> 
        </ul>

        <h2>Accounts</h2>
        <ul id='join'>
            <% pageList.forEach(function(data){ 
                if(data.type == "join"){ %>
            <li>
                <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
            </li>
            <%}}) %> 
        </ul>

        <h2>Products</h2>
        <ul id='product'>
            <% pageList.forEach(function(data){ 
                if(data.type == "product"){ %>
            <li>
                <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
            </li>
            <%}}) %> 
        </ul>


        <h2>Orders</h2>
        <ul id='order'>
            <% pageList.forEach(function(data){ 
                if(data.type == "order"){ %>
            <li>
                <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
            </li>
            <%}}) %> 
        </ul>
        
        <h2>About/Question/Uniforms</h2>
        <ul id='page'>
            <% pageList.forEach(function(data){ 
                if(data.type == "page"){ %>
            <li>
                <a class="pub_link" href='../<%= data.pageurl %>.html'><%= data.title %></a>&nbsp;&nbsp;<%= data.completedate %>
            </li>
            <%}}) %> 
        </ul>
    </div>
    <a href='https://github.com/0sunman/toteme-korea-publish'>
        <img src="https://0sunman.github.io/toteme-korea-publish/public/css/github.png" style='width:50px; height: 50px; position: fixed; bottom:10px;right:10px;z-index:999999'>
    </a>
