<!DOCTYPE html>
<html class="esc-bind" lang="en">
   <head>
    <title>Totême - Official online store</title>
      <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <!--link href="/css/main_etc.css" rel="stylesheet"-->
      <link href="https://0sunman.github.io/toteme-korea-publish/public/css/main_etc.css" rel="stylesheet">
      <!--link href="/css/toteme.custom.css" rel="stylesheet"-->
      <link href="https://0sunman.github.io/toteme-korea-publish/public/css/toteme.custom.css" rel="stylesheet">
      <link href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/appmate-wishlist-king.scss.css?v=6673863619715189807" rel="stylesheet">
      <style>

         header.site-header-wrapper .site-nav__link{border:0px; background-color: transparent;}
      </style>
   </head>

   <!--  has-announcement-bar --header-height:51px; / -->
   <body id="toteme-official-online-store" class="template-index" data-cy="body" style='padding-top:51px;'>
      <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      Skip to content
      </a>
      <!-- PC 헤더 -->
      <%- include ("./menu/pc/index.ejs") %>
      <!-- // PC 헤더 -->

      <!-- MO 헤더 -->                 
      <%- include ("./menu/mo/index.ejs") %> 
      <!-- // MO 헤더 -->
      
      


      <main id="MainContent" class="main-content critical-clear">
         <!-- BEGIN content_for_index -->
         <!--  include ("./pages/00_main/index.ejs") BEGIN content_for_index -->
         <%- include ("./pages/"+targetPath)%>
         <!-- END content_for_index -->
      </main>
      <!-- Footer -->
      <%- include ("./footer/index.ejs") %> 
      <!-- // Footer -->

      <!-- 하단 쿠키배너 -->
      <%- include ("./etc/cookie-banner.ejs") %> 
      <!-- // 하단 쿠키배너 -->

      <!--- 10. 모달 팝업 -->
      <%- include ("./etc/modal-popup.ejs") %> 
      <!--- // 10. 모달리스 팝업 -->

      <!--- 11. 위시 리스트 -->
      <%- include ("./etc/modal-popup.ejs") %> 
      <!-- // 11. 위시리스트 -->
      

      <script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
      <!---script src="/js/toteme.custom.js"></script-->
      <script src='https://0sunman.github.io/toteme-korea-publish/public/js/toteme.custom.js'></script>

      <script src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/multi-store.config.js?v=3834433138071325330" type="text/javascript"></script>
      <script src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/store-currencies.js?v=15895889998660920555" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/plugins/rias/ls.rias.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/plugins/bgset/ls.bgset.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/plugins/respimg/ls.respimg.min.js" type="text/javascript"></script>
      <link type="text/css" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.theme.css?v=11319339974545446336" rel="stylesheet">

      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.checkout.css?v=4919846318103799731" as="style">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.gift_card.css?v=5539515425278837408" as="style">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.password.css?v=11319339974545446336" as="style">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.styleguide.css?v=56257713711684864" as="style">
      <script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/vendors.min.js?v=17692476819344137541" defer="defer"></script>
      <script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/shopify.min.js?v=13365512054474014388" defer="defer"></script>
      <script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/layout.theme.js?v=11565107981520840275" defer="defer"></script>
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.cart.js?v=2826028351259950301" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.collection.collection-blank-template.js?v=4574668646399290996" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.collection.collection-page-template.js?v=3644737765115976929" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.collection.js?v=5198559932794559989" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.gift_card.js?v=4127798678504963653" as="script">
      <script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.index.js?v=1278819336232507341" defer="defer"></script>
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.page.collection-page-builder.js?v=8972063074495206756" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.page.custom-page-builder.js?v=3889713130430258599" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.page.custom-page-template.js?v=12869189326840831295" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.page.product-page-builder.js?v=10532617067272181344" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.product.gift-card.js?v=3517097746601536764" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.product.js?v=6571919152928002498" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.product.product-page-template.js?v=3687788964699120310" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.search.js?v=12288814344767843093" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.account.book.js?v=3736325917984790948" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.account.js?v=7237059996858740032" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.account.orders.js?v=1970418899714748832" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.account.returns.js?v=7701001827492686103" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.addresses.js?v=14848950091802048559" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.login.js?v=17176649194286505746" as="script">
      <link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/template.register.js?v=6648124670233666324" as="script">


      <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet" type="text/css" media="all">

   </body>
</html>